<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}

{%- unless section_color -%}
  {%- assign section_color = 'primary' -%}
{%- endunless -%}

{%- comment -%}
  Check if the product is on sale and set a variable to be used below.
{%- endcomment -%}
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- comment -%}
  Check if the product is sold out and set a variable to be used below.
{%- endcomment -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- comment -%}
  Assign a variant to show unit prices.
{%- endcomment -%}

{% assign metafields = product.metafields.acremade %}
{%- assign pics = metafields['plp_images'] -%}

{% assign current_variant = product.selected_or_first_available_variant %}

{% if product.price_varies and product.variants.size > 1 %}
  {% for variant in product.variants %}
    {% if variant.price == product.price_min %}
      {% assign current_variant = variant %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="lg--up--flex items--center product-grid-item t--list-and-grid relative{% if current_variant.unit_price_measurement %} has-unit-price{% endif %}">
  {%- assign featured_media = product.featured_media.preview_image -%}
    <div class="relative lg--up--two-fifths">
      {% if settings.products_show_badges %}
        {% if on_sale or sold_out %}
          <div class="absolute top--0 right--0 pt2 pr2 z2">
            {% if on_sale and sold_out != true %}
              <div class="product-grid-on-sale p1 font-size--s bg--{{ section_color }}-accent color--{{ section_color }}-accent--overlay">{{ 'products.product.on_sale' | t }}</div>
            {% endif %}
            {% if sold_out %}
              <div class="{% if on_sale %}mt1{% endif %} product-grid-on-sale p1 font-size--s bg--{{ section_color }}-text color--{{ section_color }}-text--overlay">{{ 'products.product.sold_out' | t }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      {%- assign ratio = preview_image.aspect_ratio -%}
      {%- assign force_crop = false -%}
      {%- if ratio < 0.5 -%}
        {%- assign force_crop = true -%}
        {%- assign ratio = 1 -%}
      {%- endif -%}

      {% comment %} {%- render 'responsive-image' with
          image: featured_media
          max_width: 2000,
          max_height: 2000,
          section_color: section_color,
          responsive_image_counter: loop_index,
          image_id: product.featured_media.id,
      -%} {% endcomment %}

      <a href="{{ product.url | within: collection }}">
      <div class="Slick plp-slick" data-slick='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "dots": false,
        "arrows": false,
        "responsive": [
          {
            "breakpoint": 782,
            "settings": {
            }
          }
        ]		
      }'>
        {%- if pics -%}
          {%- for image in pics.value -%}
            <div>
              {%- render 'responsive-image' with
                  image: image
                  max_width: 1000,
                  max_height: 1000,
                  section_color: section_color,
                  responsive_image_counter: loop_index,
                  image_id: image.id,
              -%}
            </div>
          {%- endfor -%}
        {%- else -%}
          {%- for image in product.media -%}
            <div>
              {%- render 'responsive-image' with
                  image: image
                  max_width: 1000,
                  max_height: 1000,
                  section_color: section_color,
                  responsive_image_counter: loop_index,
                  image_id: image.id,
              -%}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
      </a>

      <div class="flex flex--wrap justify--center mt2">
        {%- if pics -%}
          {%- for image in pics.value -%}
            <button class="{% if forloop.first %}Active{% endif %} plp-slick-thumb" data-index="{{ forloop.index }}">
              <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt }}" />
            </button>
          {%- endfor -%}
        {%- else -%}
          {% for image in product.media %}
            <button class="{% if forloop.first %}Active{% endif %} plp-slick-thumb" data-index="{{ forloop.index }}">
              <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt }}" />
            </button>
          {% endfor %}
        {% endif %}
      </div>


      {% comment %} {% if product.media.size > 1 and settings.products_show_second_image_on_hover %}
        {% assign hover_image = product.media[1] %}
        <div class="product-item-hover absolute top--0 right--0 bottom--0 left--0 z1 lazyload bg-cover bg--{{ section_color }}-background"
             data-bgset="{% render 'bgset', image: hover_image %}"
             data-sizes="auto"
             data-parent-fit="cover">
        </div>
      {% endif %} {% endcomment %}
    </div>
  
  <div class="lg--up--three-fifths lg--up--px3">
    <div class="lg--up--pl2">
      <h2 class="color--{{ section_color }}-text m0"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
      {% if settings.products_show_vendor and product.vendor != blank %}
      <p class="color--{{ section_color }}-meta m0 mt1 font-size__basic">{{ product.vendor }}</p>
      {% endif %}
      <p class="{% if on_sale %}color--{{ section_color }}-accent{% else %}color--{{ section_color }}-meta{% endif %} m0 mt1 font-size__basic">
        {% if sold_out %}
          <span class="sold-out color--{{ section_color }}-meta {% if on_sale %}mr1{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        {% else %}
          <span {% if on_sale %}class="mr1"{% endif %}>
            {% if settings.currency_code_enable %}
              {% if on_sale %}
                {% if product.price_varies %}
                  {% assign sale_price = product.price | money_with_currency %}
                  {{ 'products.product.from_text_html' | t: price: sale_price }}
                {% else %}
                  {{ product.price | money_with_currency }}
                {% endif %}
              {% else %}
                {% if product.price_varies %}
                  {% assign price = product.price | money_with_currency %}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money_with_currency }}
                {% endif %}
              {% endif %}
            {% else %}
              {% if on_sale %}
                {% if product.price_varies %}
                  {% assign sale_price = product.price | money %}
                  {{ 'products.product.from_text_html' | t: price: sale_price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
              {% else %}
                {% if product.price_varies %}
                  {% assign price = product.price | money %}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
              {% endif %}
            {% endif %}
          </span>
        {% endif %}
        {% if on_sale and sold_out != true %}
          <s class="color--{{ section_color }}-meta">
            {% if settings.currency_code_enable %}
              {{ product.compare_at_price | money_with_currency }}
            {% else %}
              {{ product.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </p>
      <p class="{% if on_sale %}color--{{ section_color }}-accent{% else %}color--{{ section_color }}-meta{% endif %} m0 mt1 font-size__small" data-unit-price-wrapper>
        <span data-unit-price>
          {{- current_variant.unit_price | money -}}
        </span>
        <span>/</span>
        <span data-unit-price-measurement-reference-value>
        {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
          {{- current_variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        </span>
        <span data-unit-price-measurement-reference-unit>
          {{- current_variant.unit_price_measurement.reference_unit -}}
        </span>
      </p>
      {% if product.description != blank %}
        <div class="m0 mt1 font-size__basic">{{ product.description }}</div>
      {% endif %}
      {%- assign module_id = section.id -%}
      {%- assign product_form_id = 'product-form-' | append: module_id -%}
      <div id="AddToCartForm--{{ module_id }}" class="form-vertical mt3">
        {%- assign product_form_id = 'product-form-' | append: module_id -%}
        {% form 'product', product, id: product_form_id %}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            {% if variant_picker_enabled %}
              disabled
            {% endif %}
            data-product-select
          >
          {%- liquid
              assign show_payment_button = false
          -%}
          <div class="add-to-cart-container {% unless current_variant.available %}hide-pay-buttons{% endunless %}  {% if show_payment_button %}cta-content--pay-buttons{% endif %} max-width--1" data-add-to-cart-container>
            <button
              class="btn border--none btn--add-to-cart relative color-scheme--{{ section_color }} {% if show_payment_button %}bg--transparent color--{{ section_color }}-text border--{{ section_color }}-text hv--{{ section_color }}-accent hv--border--primary-accent {% else %}border--none bg--transparent {% endif %} p1 full--w block border--primary-text hv--border--primary-accent hv--primary-accent"
              type="submit"
              name="add"
              id="AddToCart--{{ section.id }}"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span class="add-to-cart-text" data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
                {%- unless settings.open_modal_on_add_to_cart -%}
                <div class="spinner {% if show_payment_button %}color--{{ section_color }}-text{% else %}color--{{ section_color }}-background{% endif %}"></div>
                {%- endunless -%}
            </button>
            {% if show_payment_button %}
              <div class="mt2 payment-button-wrapper color--{{ section_color }}">{{ form | payment_button }}</div>
            {% endif %}
          </div>

          {%- unless settings.open_modal_on_add_to_cart -%}
          <div class="font-size__basic mt2 hide {% unless show_payment_button %}mt3{% endunless %} {% if show_pickup_availability %}mb3{% endif %}" data-add-to-cart-complete>
            {{ 'products.product.added_to_cart' | t }}!<br/>{{ 'products.product.add_to_cart_confirm_html' | t: cart_url: routes.cart_url, link_url: routes.all_products_collection_url, section_color: section_color }}.
          </div>
          {%- endunless -%}
        {% endform %}
      </div>
    </div>
  </div>
</div>

<style>
.plp-slick .slick-arrow {
  display: none!important;
}
.plp-slick-thumb {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 10px 20px 10px;
  position: relative;
}
.plp-slick-thumb:after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid #ccc;
}
.plp-slick-thumb.Active:after {
  border-color: black;
}
.plp-slick-thumb img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.slick-slider .slick-track {
  display: flex;
  align-items: center;
}
</style>