{%- assign section_color = section.settings.color_scheme -%}

<section class="page mb3 color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width px2 lg--up--px3">
    <div class="mw750">
        
        <div class="text-center">
          <h1 class="mb3 font-size--xxl md--up--font-size--xxxl lg--up--font-size--xxxl">{{ page.title }}</h1> 
        </div>

        <h2 class="mb1 font-size--xl md--up--font-size--xxl lg--up--font-size--xxl">Egg Substitute</h2> 

        <div>
          {% for block in section.blocks %}
            {% if block.settings.faq_question != blank and block.settings.faq_answer != blank %}
            <div class="mb0 py2 accItem">
              <div class="AccTrigger" role="button" aria-controls="acc-{{ forloop.index }}" aria-expanded="false">
                <h3 class="mb0 font-size--m md--up--font-size--m lg--up--font-size--m">
                  {{ block.settings.faq_question}}
                </h3>
                <div class="plus">
                  <span class="horz"></span>
                  <span class="vert"></span>
                </div>
              </div>
              <div class="AccContent" aria-hidden="true" id="acc-{{ forloop.index }}">
                <div class="py2">
                  {{ block.settings.faq_answer }}
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ page",
  "settings": [
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ", 
      "settings": [
        {
          "id": "faq_question",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "faq_answer",
          "type": "textarea",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "FAQ",
      "blocks": [
        {
          "type": "faq"
        }
      ]
    }
  ]  
}
{% endschema %}

{% stylesheet %}
.mw750 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.accItem {
  border-bottom: 1px solid;
}
.AccTrigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AccTrigger h3 {
  max-width: calc(100% - 30px);
}
.AccTrigger.Open {
  .plus .vert {
    display: none;
  }
}
.AccContent {
  display: none;
}
.plus {
  width: 14px;
  height: 14px;
  position: relative;
}
.plus span {
  position: absolute;
  background: #000;
}
.horz {
  width: 100%;
  height: 2px;
  left: 0;
  top: 6px;
}
.vert {
  width: 2px;
  height: 100%;
  left: 6px;
  top: 0;
}

{% endstylesheet %}
