{%- assign section_color = section.settings.color_scheme -%}
{%- assign has_two_pics = false -%}
{%- if section.settings.wholesale_img_2 and section.settings.wholesale_heading_2 != blank -%}
  {%- assign has_two_pics = true -%}
{%- endif -%}

<section class="oh relative page pad-none color--{{ section_color }}-text bg--{{ section_color }}-background {% unless has_two_pics %}pt-0 pb-0{% endunless %}">
  <img class="plant-graphic absolute" src="{{ 'pea-plant.png' | asset_url }}" alt="Acremade - Pea Plant" />
  <div class="max-site-width {% if has_two_pics %}px2 md--up--px3{% endif %}">
    <div class="{% if has_two_pics %}pb2 big-pad{% else %}px2 pb2 md--up--pb0 lg--up--pb0 md--up--px0{% endif %}">

      <div class="md--up--flex items--center">
        {% if has_two_pics %}

          {% if section.settings.wholesale_heading != blank or section.settings.wholesale_text != blank %}
            <a href="#egg-products" class="relative scrollTrigger block {% if section.settings.wholesale_heading_2 != blank %}lg--up--three-fifths {% endif %} wh-text-2-right">

              {% assign image = section.settings.wholesale_img %}
              <div class="image-holder">
                {% render 'responsive-image' with
                  image: image,
                  max_width: 900,
                  max_height: 900,
                  section_color: section_color,
                %}
              </div>

              <div class="text-bg">
                {% if section.settings.wholesale_heading != blank %}
                  <h1 class="m0 f--heading font-size--xxxl line-height--7 pm--font-size--xxxxl  md--up--font-size--xxxxl pm--line-height--10 wd--font-size--xxxxl wd--line-height--11">{{ section.settings.wholesale_heading }}</h1>
                {% endif %}
                {% if section.settings.wholesale_text != blank %}
                  <div class="font-size__basic text-p">
                    <p>{{ section.settings.wholesale_text }}</p>
                  </div>
                {% endif %}
              </div>
            </a>
          {% endif %}

          <a href="#feature-section" class="relative scrollTrigger block lg--up--two-fifths">
            {% assign image2 = section.settings.wholesale_img_2 %}
            <div class="image-holder">
              {% render 'responsive-image' with
                image: image2,
                max_width: 2000,
                max_height: 2000,
                section_color: section_color,
              %}
            </div>

            <div class="text-bg">
              <h2 class="m0 f--heading font-size--xl line-height--6 pm--font-size--xl  md--up--font-size--xl pm--line-height--6 wd--font-size--xl wd--line-height--8">{{ section.settings.wholesale_heading_2 }}</h2>
              {% if section.settings.wholesale_text_2 != blank %}
                <div class="font-size__basic text-p">
                  <p>{{ section.settings.wholesale_text_2 }}</p>
                </div>
              {% endif %}
            </div>
          </a>

        {% else %}

          {% if section.settings.wholesale_heading != blank or section.settings.wholesale_text != blank %}
            <a href="#egg-products" class="scrollTrigger block md--up--one-half mb2 md--up--mb0 lg--up--mb0">
              {% assign image = section.settings.wholesale_img %}
              <div class="image-holder">
                {% render 'responsive-image' with
                  image: image,
                  max_width: 900,
                  max_height: 900,
                  section_color: section_color,
                %}
              </div>
            </a>

            <div class="md--up--one-half md--up--pr2 wh-text-2">
              {% if section.settings.wholesale_heading != blank %}
                <h1 class="m0 f--heading font-size--xxl line-height--7 pm--font-size--xxxxl  md--up--font-size--xxxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13">{{ section.settings.wholesale_heading }}</h1>
              {% endif %}
              {% if section.settings.wholesale_text != blank %}
                <div class="font-size__basic mt1">
                  <p>{{ section.settings.wholesale_text }}</p>
                </div>
              {% endif %}
            </div>
          {% endif %}

        {% endif %}
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Wholesale Header",
  "settings": [
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    },
    {
      "type": "header",
      "content": "Header text & image"
    },
    {
      "type": "image_picker",
      "id": "wholesale_img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "wholesale_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "wholesale_text",
      "label": "Text",
      "default": "Acremade is free from the things that take the fun out of eating well. Whether you're a plant-based home cook, an allergy household, an ethical vegan, an environmental steward, or just plant-curious, we give egg-free egg lovers something to cluck about."
    },
    {
      "type": "image_picker",
      "id": "wholesale_img_2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "wholesale_heading_2",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "wholesale_text_2",
      "label": "Text"
    }
  ]
}
{% endschema %}

<script>
  (function($){
    $('.scrollTrigger').on('click', function(e){
      e.preventDefault();
      var $me = $(this),
          meRef = $me.attr('href'),
          meScroll = $(meRef),
          mePos = meScroll.offset().top;
      
      $('body, html').animate({scrollTop: mePos});
    })
  })(jQuery);
</script>

{% stylesheet %}
  .oh {
    overflow: hidden;
  }
  .plant-graphic { 
    right: 0; 
    top: 0;
    width: 30%; 
  } 
  .wh-text-2 {
    padding-left: 0;
  }
  .pt-0 {
    padding-top: 0!important;
  }
  .pb-0 {
    padding-bottom: 0!important;
  }
  .text-bg {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 80px);
    background: rgba(255,255,255,.9);
    z-index: 1;
  }
  .text-bg h1,
  .text-bg h2 {
    background: rgba(0,0,0,.93);
    color: #fff;
    padding: 8px 12px;
    width: 100%;
  }
  .text-bg p {
    margin-bottom: 0;
  }
  .text-p {
    padding: 12px 20px;
  }
  .big-pad {
    padding-bottom: 120px;
  }
  .pad-none {
    padding-top: 20px!important;
  }
  @media only screen and (min-width: 750px){
    .wh-text-2 {
      padding-left: 5%; 
    }
    .wh-text-2-right {
      margin-right: 5%; 
    }
    .big-pad {
      padding-bottom: 160px;
    }
  }
  @media only screen and (min-width: 990px){
    .wh-text-2 {
      padding-left: 5%; 
    }
    .wh-text-2-right {
      margin-right: 5%; 
    }    
  }
  @media only screen and (min-width: 1240px){
    .wh-text-2 {
      padding-left: 6%; 
    }
    .wh-text-2-right {
      margin-right: 6%; 
    }    
  }  
{% endstylesheet %}